body {
    background-color: rgb(44, 44, 44);
  }
.title {
  color: rgb(244, 244, 244);
  font-family: 'Courier New', Courier, monospace;

  background-color: rgb(67,67,67);
    
  margin: auto;
  width: 60%;
  padding: 10px;

  display: flex;
  justify-content: center;
}
.info {
  color: rgb(244, 244, 244);
  font-family: 'Courier New', Courier, monospace;
}
.link {
  color: rgb(172, 158, 255);
  font-family: 'Courier New', Courier, monospace;
}